/category1/*
!/category1/index.php
/category2/*
!/category2/index.php
/category3/*
!/category3/index.php
/category4/*
!/category4/index.php
/category5/*
!/category5/index.php
/conf/setting/*
/logs/*
/web/test
