/conf/setting/*
/logs/*
/web/*
!/web/admin
!/web/content-feature-sp.html
!/web/content-push-sp.html
!/web/content-ranking-sp.html
!/web/content-sp.php
!/web/contents.html
!/web/css
!/web/footer-pc.html
!/web/footer-sp.html
!/web/header-pc.html
!/web/header-sp.html
!/web/img
!/web/index-pc.php
!/web/index-sp.php
!/web/index.php
!/web/js
!/web/p1-sp.php
!/web/p1.php
!/web/ranking-sp.php
!/web/rightsidebar.html
!/web/terms-pc.php
!/web/terms-sp.php
!/web/terms.html
!/web/terms.php
!/web/topic-pc.php
!/web/topic-sp.php
!/web/topic.php

