/* max-width */
/* color */
/* font-size */
/* flexbox */
/* centering horizontally & vertically */
/* Default
---------------------------------------------------------- */
html,
body {
  font-size: 15px;
}

body {
  margin: auto;
  font-family: 'Noto Sans Japanese';
  color: #fff;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl,
dt,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* text*/
.text_red {
  color: #de5996;
}

.bold {
  font-weight: bold;
}

/* hover */
@media screen and (min-width: 768px) {
  a:hover,
  .btn2:hover {
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

/* clearfix */
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/* PC/SP switch */
@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
/* text shadow */
.text_shadow_pink {
  color: #fff;
  text-shadow: #f3bad4 2px 0px 0px, #f3bad4 -2px 0px 0px, #f3bad4 0px -2px 0px, #f3bad4 -2px 0px 0px, #f3bad4 2px 2px 0px, #f3bad4 -2px 2px 0px, #f3bad4 2px -2px 0px, #f3bad4 -2px -2px 0px, #f3bad4 1px 2px 0px, #f3bad4 -1px 2px 0px, #f3bad4 1px -2px 0px, #f3bad4 -1px -2px 0px, #f3bad4 2px 1px 0px, #f3bad4 -2px 1px 0px, #f3bad4 2px -1px 0px, #f3bad4 -2px -1px 0px, #f3bad4 1px 1px 0px, #f3bad4 -1px 1px 0px, #f3bad4 1px -1px 0px, #f3bad4 -1px -1px 0px;
}

.text_shadow_deeppink {
  color: #fff;
  text-shadow: #de5996 2px 0px 0px, #de5996 -2px 0px 0px, #de5996 0px -2px 0px, #de5996 -2px 0px 0px, #de5996 2px 2px 0px, #de5996 -2px 2px 0px, #de5996 2px -2px 0px, #de5996 -2px -2px 0px, #de5996 1px 2px 0px, #de5996 -1px 2px 0px, #de5996 1px -2px 0px, #de5996 -1px -2px 0px, #de5996 2px 1px 0px, #de5996 -2px 1px 0px, #de5996 2px -1px 0px, #de5996 -2px -1px 0px, #de5996 1px 1px 0px, #de5996 -1px 1px 0px, #de5996 1px -1px 0px, #de5996 -1px -1px 0px, #de5996 0px 2px 0px, #de5996 2px 0px 0px;
}

.text_shadow_white {
  color: #de5996;
  text-shadow: #fff 2px 0px 0px, #fff -2px 0px 0px, #fff 0px -2px 0px, #fff -2px 0px 0px, #fff 2px 2px 0px, #fff -2px 2px 0px, #fff 2px -2px 0px, #fff -2px -2px 0px, #fff 1px 2px 0px, #fff -1px 2px 0px, #fff 1px -2px 0px, #fff -1px -2px 0px, #fff 2px 1px 0px, #fff -2px 1px 0px, #fff 2px -1px 0px, #fff -2px -1px 0px, #fff 1px 1px 0px, #fff -1px 1px 0px, #fff 1px -1px 0px, #fff -1px -1px 0px;
}

/* button */
.btn2 {
  display: inline-block;
  width: 250px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f2bad4;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .btn2 {
    margin-top: 80px;
  }
}

/* circle */
.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

/* Header
---------------------------------------------------------- */
header {
  background-color: #f3bad4;
  background-image: url(../img/fv_back_ice0.png);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  height: 100vh;
  position: relative;
}
@media screen and (min-width: 768px) {
  header {
    background-size: auto;
  }
}
header .header_inner {
  text-align: center;
  position: relative;
  width: 100%;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 94%;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  header .header_inner {
    width: auto;
  }
}
header .header_inner .period {
  font-size: 0.9333333333rem;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  header .header_inner .period {
    font-size: 1.3333333333rem;
  }
}
header .header_inner .headline_decoration {
  display: inline-block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}
header .header_inner .headline_decoration h1 {
  font-size: 1.7333333333rem;
  line-height: 1.1;
  padding: 10px 5px 20px;
}
@media screen and (min-width: 768px) {
  header .header_inner .headline_decoration h1 {
    font-size: 3.0666666667rem;
  }
}
header .header_inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header_inner .logo .logo_icl {
  width: 183px;
}
@media screen and (min-width: 768px) {
  header .header_inner .logo .logo_icl {
    width: auto;
  }
}
header .header_inner .logo .logo_parel {
  width: 98px;
}
@media screen and (min-width: 768px) {
  header .header_inner .logo .logo_parel {
    width: auto;
  }
}
header .header_inner .logo p {
  font-size: 2.1333333333rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  header .header_inner .logo p {
    font-size: 2.6666666667rem;
  }
}
header .badge {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 130px;
  height: 130px;
  background-color: #fff;
  color: #de5996;
  padding: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
@media screen and (min-width: 768px) {
  header .badge {
    top: 2vw;
    right: 2vw;
  }
}
header .badge p {
  font-weight: bold;
}
header .badge p:not(:last-child) {
  border-bottom: 1px solid #de5996;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
header .badge p.badge_top {
  font-size: 0.6666666667rem;
}
header .badge p.badge_top span {
  font-size: 0.9333333333rem;
}
header .badge p.badge_middle {
  font-size: 0.5333333333rem;
}
header .badge p.badge_middle span {
  font-size: 0.9333333333rem;
}
header .badge p.badge_bottom {
  font-size: 0.5333333333rem;
}
header .badge p.badge_bottom span {
  font-size: 0.9333333333rem;
}

/* Main
---------------------------------------------------------- */
main section {
  color: #de5996;
}
main section .section_inner {
  padding: 50px 5vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  main section .section_inner {
    padding: 100px 0;
    max-width: 650px;
    margin: auto;
  }
}
main section .section_inner .headline_decoration {
  display: inline-block;
  border-top: 1px solid #f2bad4;
  border-bottom: 1px solid #f2bad4;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  main section .section_inner .headline_decoration {
    margin-bottom: 50px;
  }
}
main section .section_inner .headline_decoration h1 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
  padding: 0 10px;
  min-width: 120px;
}
@media screen and (min-width: 768px) {
  main section .section_inner .headline_decoration h1 {
    font-size: 2.4rem;
  }
}
main section.bg_pink {
  color: #fff;
  background-color: #f3bad4;
}
main section.bg_pink .section_inner .headline_decoration {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
main section.section_entry .section_inner ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li {
    display: block;
  }
}
main section.section_entry .section_inner ol li .entry_step {
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  line-height: 1.1;
  border: 1px solid #de5996;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li .entry_step {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: auto;
    border: none;
    border-bottom: 2px solid #de5996;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 2.1333333333rem;
  }
}
main section.section_entry .section_inner ol li .entry_step span {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li .entry_step span {
    font-size: 2.1333333333rem;
    margin-left: 5px;
  }
}
main section.section_entry .section_inner ol li .entry_text {
  width: calc(100% - 60px);
  text-align: left;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li .entry_text {
    text-align: center;
    width: 100%;
  }
}
main section.section_entry .section_inner ol li .entry_text p:first-child {
  border-bottom: 1px solid #f2bad4;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li .entry_text p:first-child {
    border: none;
    font-size: 1.3333333333rem;
  }
}
main section.section_entry .section_inner ol li .entry_text p:last-child {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li .entry_text p:last-child {
    font-size: 1.0666666667rem;
  }
}
main section.section_entry .section_inner ol li .entry_text p:last-child span {
  font-weight: bold;
  border-bottom: 1px solid #f2bad4;
  padding-bottom: 2px;
}
main section.section_entry .section_inner ol li:not(:first-child) {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li:not(:first-child) {
    margin-top: 60px;
  }
}
main section.section_entry .section_inner ol li:not(:first-child) .entry_text p:first-child {
  font-size: 0.9333333333rem;
}
@media screen and (min-width: 768px) {
  main section.section_entry .section_inner ol li:not(:first-child) .entry_text p:first-child {
    font-size: 1.3333333333rem;
  }
}
main section.section_present .section_inner .present_coupon {
  font-size: 0.8666666667rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_coupon {
    font-size: 1.3333333333rem;
  }
}
main section.section_present .section_inner .present_coupon span {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_coupon span {
    font-size: 1.6rem;
  }
}
main section.section_present .section_inner .present_retweet_catch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 15px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_catch {
    margin: 50px 0 20px;
  }
}
main section.section_present .section_inner .present_retweet_catch .circle {
  width: 52px;
  height: 52px;
  background-color: #de5996;
  font-size: 0.8rem;
  color: #fff;
  margin-right: 5px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_catch .circle {
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 1.7333333333rem;
    -webkit-transform: none;
            transform: none;
    margin-bottom: 5px;
  }
}
main section.section_present .section_inner .present_retweet_catch .text_shadow_white {
  width: calc(100% - 57px);
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: #de5996;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_catch .text_shadow_white {
    font-size: 1.3333333333rem;
  }
}
main section.section_present .section_inner .present_retweet_list {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
main section.section_present .section_inner .present_retweet_list li {
  display: table;
  border: 1px solid #fff;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list li {
    display: block;
    width: 32%;
  }
}
main section.section_present .section_inner .present_retweet_list li:not(:first-child) {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list li:not(:first-child) {
    margin-top: 0;
    margin-left: 2%;
  }
}
main section.section_present .section_inner .present_retweet_list li .present_retweet_logo {
  display: table-cell;
  vertical-align: middle;
  width: 35%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list li .present_retweet_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 180px;
    width: 100%;
  }
}
main section.section_present .section_inner .present_retweet_list li .present_retweet_number {
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 0.6rem;
  font-weight: bold;
  color: #de5996;
  position: absolute;
  top: -15px;
  right: -5px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  line-height: 1.1;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list li .present_retweet_number {
    width: auto;
    height: auto;
    font-size: 16px;
    -webkit-transform: none;
            transform: none;
    background-color: transparent;
    top: 160px;
    right: 5px;
  }
}
main section.section_present .section_inner .present_retweet_list li .present_retweet_detail {
  display: table-cell;
  vertical-align: middle;
  width: 65%;
  font-weight: bold;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list li .present_retweet_detail {
    width: 100%;
    display: block;
    padding: 10px;
  }
}
main section.section_present .section_inner .present_retweet_list li .present_retweet_detail .present_retweet_detail_condition {
  color: #de5996;
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_list li .present_retweet_detail .present_retweet_detail_condition {
    text-align: center;
    margin-bottom: 10px;
  }
}
main section.section_present .section_inner .present_retweet_list li .present_retweet_detail .present_retweet_detail_condition span {
  font-size: 2.1333333333rem;
  margin-right: 2px;
}
main section.section_present .section_inner .present_retweet_list li .present_retweet_detail .present_retweet_detail_item {
  font-size: 1.0666666667rem;
}
main section.section_present .section_inner .present_retweet_list li.starbacks .present_retweet_logo img {
  max-width: 60%;
}
main section.section_present .section_inner .present_retweet_list li.krispykreme .present_retweet_logo img {
  max-width: 90%;
}
main section.section_present .section_inner .present_retweet_list li.haagen .present_retweet_logo img {
  width: 80%;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special {
    margin: auto;
  }
}
main section.section_present .section_inner .present_retweet_special li {
  position: relative;
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_condition {
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special li .present_retweet_special_condition {
    margin-bottom: 20px;
  }
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_condition span {
  font-size: 3.0666666667rem;
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_condition:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 27px;
  background-image: url(../img/comment_left.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 5px;
  left: -20px;
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_condition:after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 27px;
  background-image: url(../img/comment_right.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: -5px;
  right: -20px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}
main section.section_present .section_inner .present_retweet_special li .circle {
  width: 52px;
  height: 52px;
  font-size: 0.7333333333rem;
  line-height: 1.3;
  background-color: #fff;
  color: #de5996;
  position: absolute;
  top: -10px;
  right: -10px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special li .circle {
    width: 80px;
    height: 80px;
    top: -20px;
    right: -20px;
  }
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_detail {
  border: 1px solid #fff;
  position: relative;
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_detail .circle {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special li .present_retweet_special_detail .circle {
    font-size: 1.0666666667rem;
  }
}
main section.section_present .section_inner .present_retweet_special li .present_retweet_special_detail p {
  background-color: #fff;
  font-size: 1.0666666667rem;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special li .present_retweet_special_detail p {
    font-size: 1.3333333333rem;
  }
}
main section.section_present .section_inner .present_retweet_special li:first-child .present_retweet_special_detail p {
  font-size: 0.9333333333rem;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special li:first-child .present_retweet_special_detail p {
    font-size: 1.3333333333rem;
  }
}
main section.section_present .section_inner .present_retweet_special li:not(:first-child) {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  main section.section_present .section_inner .present_retweet_special li:not(:first-child) {
    margin-top: 40px;
  }
}
main section.section_note .section_inner p {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;
}

/* Footer
---------------------------------------------------------- */
footer .footer_inner {
  text-align: center;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  footer .footer_inner {
    position: relative;
  }
}
footer .footer_inner .footer_logo {
  margin: 0 auto 5px;
  width: 90px;
}
footer .footer_inner small {
  color: #666;
  font-size: 0.6666666667rem;
}
@media screen and (min-width: 768px) {
  footer .footer_inner small {
    font-size: 0.9333333333rem;
  }
}
