.modal{
	margin-top: 40px !important;
}

body{
	padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
/*	font-family: ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,Arial,Helvetica,sans-serif; */
	line-height: 140%;
	background: #fff;
	-webkit-text-size-adjust: 100%;
}

.center{
	margin: 0 auto;
	text-align: center;
}
.left{
	float: left;
}
.right{
	float: right;
}
.overflow{
	clear: both;
	overflow: hidden;
}
.bg_coral{
    background: #ffe0f3;
}
.not_auto_br{
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}
.max-width{
	width: 100%;
}
a,
a:hover{
	text-decoration:none;
}
ul{
	margin:0;
	padding:0;
}
/* header */
.header_left{
	margin:5px 10px ;
	padding:0;
}
.header_key{
	padding:0px 10px;
	font-size:100%;
}
.article_more {
        display: none;
}
.content-wrapper {
	padding: 10px;
}
/* default */
.mobile_header{
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
	height:42px;
	padding:0px;
	top:0px;
	width:100%;
	position:fixed;
	z-index:9999;
	border-bottom:0.5px solid #dbd;
}
#overflow{
	overflow:hidden;
}
/* mb_header */
.mobile_header_left{
	float: left;
	margin: 13px 10px;
	font-size: 2.0em;
	color: #d77;
}
.mobile_header_right{
	float: right;
	margin: 11px 10px;
	font-size: 1.5em;
	color: #d77;
}
.mobile_header_center{
	float: left;
	width: calc(100% - 100px);
	text-align: center;
}
.mobile_header_center img {
	height: 36px;
        margin: 3px;
}
#header_search_submit{
	margin: 6px 0 0;
	font-size: 90%;
}
/* mb_boxview */
.articles_heading{
	margin-left: -10px;
	margin-right: -10px;
	background: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-align: center;
	padding: 5px;
	font-size: 90%;
}
/* article boc view */
.box_article_head_text{
	bottom: 0;
	padding: 5px;
	width: 100%;
	position: absolute;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background: linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
}
/* article head */
.article_head_text{
	bottom: 0;
	padding: 5px;
	width: 100%;
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
}
.article_head_img{
	width: 100%;
	height: 260px;
}
.article_head_author_img{
	margin: 0 10px;
	width: 40px;
}
/* mb_footer */
.footer{
	padding: 10px 5px;
}
.footer_nav_category,
.footer_nav_link{
	overflow: hidden;
}
.footer_nav_category li,
.footer_nav_link li{
	width: 50%;
	float: left;
	padding: 10px 20px;
}
.footer_nav_link li{
	padding: 5px 20px;
}
.footer_nav_category li a,
.footer_nav_link li a{
	display: block;
	color: #999;
	font-size: 13px;
}
.footer_nav_category img{
	height: 11px;
}
.footer_bar{
	border: .5px solid #666;
	margin: 15px;
	padding: 0;
}
.copyright{
	text-align: center;
	font-size: 0.8em;
	margin: 10px 0;
}
.mb_footer{
	margin-top: 10px; 
}
/* article-> title */
.close{
	font-weight: normal;
	background: none;
	border: 0;
	box-shadow: none;
}
/* Articles > index.ctp */
#ModalSearch{
	margin: 50px auto 0;
}
#modal_search_content{
	padding: 10px 10px 15px;
	width: 100%;
}
.modal_search_close {
	float: right;
	color: #999;
	font-size: 1.5em;
}
.mobile_article_index_box2{
	width: 100%;
	float: left;
	border-bottom: 1px solid #eee;
	background: #fff;
}
.mobile_article_index_text{
	background: #fff;
	padding: 10px 5px;
	margin-left: 95px;
}
ul,li{
	list-style: none;
}
/* article->view */
.article_view_area{
	/*border-right:1px solid #ccc;*/
	/*border-left:1px solid #ccc;*/
	padding: 0 10px;
	margin: 0 -10px 15px;
}
.article_written_box{
	border: 1px solid #ddd;
	padding: 5px;
	background: #fff;
}
#article-body h3{
	font-weight: bold;
        margin: 30px 0 0;
        padding: 50px 0 0;
	text-align: center;
	color: #333;
	line-height: 130%;
	font-size: 17px;
}
#article-body h4{
	font-weight: bold;
        margin: 10px 0 0;
        padding: 50px 0 0;
	text-align: center;
	color: #333;
	line-height: 110%;
	font-size: 15px;
}
#article-body h5{
	font-weight: bold;
        margin: 5px 0 ;
        padding: 50px 0 0;
	text-align: center;
	color: #333;
	line-height: 100%;
	font-size: 13px;
}
#article-body h6{
	font-weight: bold;
        margin: 0;
        padding: 50px 0 0;
	text-align: center;
	color: #333;
	line-height: 100%;
	font-size: 11px;
}
#article-body{
	line-height: 180%;
	font-size: 15px;
	padding: 0 3px;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	overflow: hidden;
}
#article-introduction, #article-summary{
	font-size: 13px;
	color: #666;
	line-height: 180%;
}
/* policy */
#policy_border{
	border: 1px solid #ccc;
	padding: 20px;
	margin: 0 5px 15px;
}
.policy_text{
	margin: 20px 0;
	font-size: 0.9em;
	color: #666;
}
/* main 1-4 */
.close{
	font-weight: normal;
	background: none;
	border: 0;
	box-shadow: none;
}
/** slidemenu ****************************************************************/
#slide-menu{
	top: 42px;
	width: 260px;
	position: fixed;
	display: none;
	background-color: #fff;
	z-index: 9999;
}
#slide-menu li{
	line-height: 90%;
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 29px 29px;
	display: block;
}
#slide-menu li > a {
	display: block;
	padding: 10px 20px 5px 50px;
}
#slide-menu li.top{
	background-image: url('http://parel.site/img/common/icon-curtain.png');
}
#slide-menu li.food{
	background-image: url('http://parel.site/img/common/icon-meal.png');
}
#slide-menu li.excercise{
	background-image: url('http://parel.site/img/common/icon-fitnes.png');
}
#slide-menu li.health{
	background-image: url('http://parel.site/img/common/icon-pill.png');
}
#slide-menu li.fashion{
	background-image: url('http://parel.site/img/common/icon-jacket.png');
}
#slide-menu li.feature{
	background-image: url('http://parel.site/img/common/icon-present.png');
}
#slide-menu li.ranking{
	background-image: url('http://parel.site/img/common/icon-top.png');
}
#slide-menu li.option{
	padding: 7px 20px 5px;
	border-bottom: 0;
}
#slide-menu li .menu-text{
	color: #666;
	font-size: 0.6em;
}
#container {
	z-index: 1;
	margin-top: 0;
}
#container.show {
	-webkit-transform: translate3d(240px, 0px, 1px);
	min-width: 320px;
}
/* side_ranking */
.subcontents_area {
    margin: 20px 0;
}
.subcontents_title {
	max-width: 90%;
	display: block;
	margin: 10px auto;
}
.ranking_wrapper{
	position: relative;
	cursor: pointer;
}
.ranking_img_area{
	width: 100%;
	height: 70px;
	margin: 0 0 10px;
	overflow: hidden;
}
.ranking_img_area img{
	position: relative;
	top: 100%;
	left: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.ranking_text{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	background:rgba(0, 0, 0, 0.3);
}
.ranking_text_left {
	float: left;
	overflow: hidden;
	width: 80px;
	height: 100%;
	color: #fff;
	font-size: 3.5em;
	line-height: 100%;
	display: table;
}
.ranking_text_left_title{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}
.ranking_text_right{
	float: left;
	width: calc(100% - 110px);
	height: 100%;
	color: #fff;
	line-height: 160%;
	display: table;
}
.ranking_text_right_title{
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px 0 0;
}
/* Pagetitle */
.text-line-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text-line-2 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* overlay */
#overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-box-shadow: 2px 0 5px 3px rgba(0,0,0,.1);
	box-shadow: 2px 0 5px 3px rgba(0,0,0,.1);
}
.sp-head {
	width: 100%;
	height: 100px;
	object-fit: cover;
}
.btn2 {
        padding: 0;
}
