@media (min-width: 768px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1060px;
  }
  .navbar_wrapper{
    width: 1060px !important;
  }
}
/*
body{
    background:#fff;
    padding-top: 115px;
    font-family: ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,Arial,Helvetica,sans-serif;
    line-height: 180%;
}
*/
a,
a:hover,
a:active{
    text-decoration:none;
}
ul,li{
    list-style:none;
}
#close{
    cursor:pointer;
}
.left{
    float:left;
}
.right{
    float:right;
}
.overflow{
    clear:both;
    overflow:hidden;
}
#overflow{
    overflow:hidden;
}
.center{
    text-align: center;
}
.bg_coral{
    background: #ffe0f3;
}
.max-width{
    width:100%;
}
.not_auto_br{
    word-break: break-all;
    word-wrap:break-word;
    overflow:hidden;
}
.navbar-header{
    width: 1020px;
    height: 50px;
    overflow:hidden;
}
#header1{
    border-color: #000;
    border-style:solid;
    border-bottom-width:0;
    height:40px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    opacity:0.9;
}
#header1 #header-logo{
  width: 100px;
  height: 42px;
  margin: 3px auto;
}
#header1 #header-logo img{
  text-align: center;
  height: 100%;
}
#header2{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 60px;
    height: 45px;
    padding: 8px;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}
#header2 a{
    display: block;
    color: #666;
}
#header2 li{
    float: left;
    text-align: center;
    width: 16%;
    font-size: 0.9em;
}
/* hover */
.hover-light-on{
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    opacity:0.85;
}
/* side bar */
#main-contents{
    float: left;
    margin: 0;
    width: 75%;
}
#sub-contents{
    float: right;
    margin: 0;
    width: 25%;
}
/* header_nav */
.navbar_wrapper{
    overflow: hidden;
    width:980px;
    margin:0 auto;
}
#keyword-search-form{
  margin: 10px;
}
#keyword-search-form .keyword-search-input{
  height: 28px;
  padding: 0 10px;
  width: 240px;
  font-size: 0.8em;
  color: #846;
  background: rgba(255, 240, 249, 0.9);
  border: 1px solid #ebd;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}
#keyword-search-form .keyword-search-submit{
  margin: 0 0 0 5px;
  font-size: 0.8em;
  color: #846;
  background: rgba(255, 240, 249, 0.9);
  border: 1px solid #ebd;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}
/* footer */
.footer_logo{
    width:130px; margin:-5px 0 0;
}
.copyright{
    font-size: 0.8em;
}
#out{
    clear:both; margin:10px;
}
/* footer */
#footer{
    margin:0;
    padding:20px 0 10px;
}
/* dokumo */
.error{
    color:red;
}
/* iPad 対応　*/
.modal {
    margin: 0 !important;
    padding: 0 !important;
}
.transparent {
    visibility: hidden;
}
.parel-theme a, .parel-theme span {
    float: left;
    color: #888;
    font-size:15px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    min-width: 14px;
    padding: 0;
    margin: 0 15px 0 0;
}
.parel-theme .current {
    color: #333;
    cursor: default;
    border-bottom: 3px solid #fac;
}
.parel-theme .ellipse {
    font-weight: bold;
    cursor: default;
}
.parel-theme li.disabled span {
    color: #ccc;
    border: none;
}
header {
    margin: 100px 0 0;
}
.btn2 {
    padding: 0;
}
