body{
  padding-top: 48px; /* 60px to make the container go all the way to the bottom of the topbar */
  font-family: ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,Arial,Helvetica,sans-serif;
  line-height: 140%;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.left{
  float: left;
}
.right{
  float: right;
}
.overflow{
  clear: both;
  overflow: hidden;
}
.bg_coral{
  color: #c9a;
  background: #ffe0f3;
}
.bg_coral a{
  color: #c9a;
}
.not_auto_br{
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
.max-width{
  width: 100%;
}
a, a:hover{
  text-decoration:none;
}
ul{
  margin:0;
  padding:0;
}
.text-line-1{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-line-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 2px 0 5px 3px rgba(0,0,0,.1);
  box-shadow: 2px 0 5px 3px rgba(0,0,0,.1);
}
/* header */
#header1{
  filter: alpha(opacity=90);
  -moz-opacity: 0.90;
  opacity: 0.90;
  height: 42px;
  padding: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  border-bottom: 0.5px solid #dbd;
}
#header1 #header-left{
  float: left;
  margin: 13px 10px;
  font-size: 2.0em;
  color: #d7a;
}
#header1 #header-right{
  float: right;
  margin: 11px 10px;
  font-size: 1.5em;
  color: #d7a;
}
#header1 #header-center{
  float: left;
  width: calc(100% - 100px);
  text-align: center;
}
#header1 #header-center img{
  height: 36px;
  margin: 3px;
}
.content-wrapper{
  padding: 10px;
}
/* modal */
#modal-search{
  margin: 50px auto 0;
  z-index: 9999;
}
#keyword-search-form{
  padding: 10px;
  width: 100%;
}
#keyword-search-form #keyword-search-submit{
  margin: 10px 0 0;
  font-size: 0.9em;
}
.modal-close{
  float: right;
  color: #999;
  font-size: 1.5em;
}
.close{
  font-weight: normal;
  background: none;
  border: 0;
  box-shadow: none;
}
ul,li{
  list-style: none;
}
/* article link */
.article-link{
  width: 100%;
  float: left;
  border-bottom: 1px solid #eee;
  background: #fff;
  display: inline-block;
}
.article-link-img{
  float: left;
  width: 78px;
  padding: 4px;
}
.article-link-img img{
  width: 100%;
}
.article-link-text{
  float: right;
  width: calc(100% - 88px);
  margin: 10px 0 0 10px;
}
.article-link-title{
  margin: 0 5px 3px 0;
  color: #000;
  font-size: 13px;
}
.article-link-text-left{
  float: left;
  color:#999;
  font-size: 0.8em;
}
.article-link-text-right{
  float: right;
  color: #999;
  font-size: 0.8em;
}
.btn-more{
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  font-size: 100%;
  color: #666;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px;
  margin: 30px 0;
}
.btn-more a{
  color: #666;
}
.article-more {
  display: none;
}
/* footer */
#footer{
  margin-top: 10px;
  padding: 10px 5px;
}
#footer ul{
  overflow: hidden;
}
#footer li{
  width: 50%;
  float: left;
  padding: 10px 20px;
}
#footer a{
  display: block;
}
#footer hr{
  border: 1px solid #c9a;
  margin: 20px;
}
.copyright{
  text-align: center;
  font-size: 0.8em;
  margin: 10px 0;
}
/* slide menu */
#slide-menu{
  top: 42px;
  width: 260px;
  position: fixed; 
  display: none;
  background-color: #fff;
  z-index: 9999;
}
#slide-menu li{
  padding: 10px 20px 5px 20px;
  display: block;
  vertical-align: middle;
  color: #777;
}
#slide-menu li > a {
  display: block;
  color: #777;
}
#slide-menu li .menu-icon{
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-image: url('/img/common/menu-icon.png');
  background-repeat: no-repeat;
  background-size: 240px 30px;
}
#slide-menu li .icon-top{
  background-position: -30px 0;
}
#slide-menu li .icon-food{
  background-position: -60px 0;
}
#slide-menu li .icon-exercise{
  background-position: -90px 0;
}
#slide-menu li .icon-health{
  background-position: -120px 0;
}
#slide-menu li .icon-fashion{
  background-position: -150px 0;
}
#slide-menu li .icon-feature{
  background-position: -180px 0;
}
#slide-menu li .icon-ranking{
  background-position: -210px 0;
}
#slide-menu li .option{
  padding: 7px 20px 5px;
  border-bottom: 0;
}
#slide-menu li .menu-text{
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
#slide-menu li .menu-text-en{
  margin: 0;
  line-height: 18px;
  font-size: 1.0em;
}
#slide-menu li .menu-text-jp{
  margin: 0;
  line-height: 6px;
  font-size: 0.6em;
}
#container {
  z-index: 1;
  margin-top: 0;
}
#container.show {
  -webkit-transform: translate3d(240px, 0, 1px);
  min-width: 320px;
}
/* sub contents */
.subcontents-area {
  margin: 20px 0;
}
.subcontents-title {
  max-width: 90%;
  display: block;
  margin: 10px auto;
}
/* ranking articles */
.ranking-wrapper{
  position: relative;
  cursor: pointer;
}
.ranking-img-area{
  width: 100%;
  height: 70px;
  margin: 0 0 10px;
  overflow: hidden;
}
.ranking-img-area img{
  position: relative;
  top: 100%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.ranking-text{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  background:rgba(0, 0, 0, 0.3);
}
.ranking-text-left {
  float: left;
  overflow: hidden;
  width: 80px;
  height: 100%;
  color: #fff;
  font-size: 3.5em;
  line-height: 100%;
  display: table;
}
.ranking-text-left-title{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}
.ranking-text-right{
  float: left;
  width: calc(100% - 110px);
  height: 100%;
  color: #fff;
  line-height: 160%;
  display: table;
}
.ranking-text-right-title{
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px 0 0;
}
/* information form */
#information-form{
  border: 1px solid #ccc;
  padding: 20px 40px;
  margin: 10px 5px 40px;
  font-size: 0.9em;
  color: #666;
}
#information-form h1{
  margin: 30px 10px;
  font-size: 2.0em;
}
#information-form h2{
  margin: 50px 5px 25px;
  font-size: 1.3em;
}
