#toc:before {
  content: "目次";
  color: #aaa;
  padding-left: 8px;
}
#toc {
  border: 1px solid #bbb;
/*  display: table; */
  margin-bottom: 10px;
  padding: 15px;
  width: auto;
}
#toc ol,
#toc ol li {
  margin: 0 15px 0;
  padding: 0;
}
#toc a {
  color: #aaa;
}
#toc a:hover {
  color: #f99;
}

._pi {
  background-color: #f7bae9;
}
.-bl {
  color: #3366ff;
}

.article_row img, .article_row_ex img {
  width: calc(100% - 10px);
  max-height: 500px;
  margin: 20px 5px;
  object-fit: contain;
}
.article_row table, .article_row_ex table {
  font-size: 0.8em;
  border: solid 1px #333;
  border-collapse: collapse;
}
.article_row table th, .article_row table td,
.article_row_ex table th, .article_row_ex table td {
  padding: 5px;
  border: solid 1px #333;
}
.article_row a, .article_row a:hover,
.article_row_ex a, .article_row_ex a:hover{
  text-decoration: underline;
}
video {
  width:100%;
}
.external-link {
  font-size: 0.8em;
  text-decoration: none;
  margin: 0 4px;
}
