.modal{
	margin-top:40px !important;
}

body{
	padding-top: 48px; /* 60px to make the container go all the way to the bottom of the topbar */
	font-family: ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,Arial,Helvetica,sans-serif;
	line-height: 140%;
	background:#fff;
	-webkit-text-size-adjust: 100%;
}
.ovewflow{
	overflow: hidden;
}
.center{
	margin: 0 auto;
	text-align:center;
}
.left{
	float:left;
}
.right{
	float:right;
}
.overflow{
	clear:both;
	overflow:hidden;
}
.clearfix{
	clear :both;
}
.txt-right{
	text-align:right;
}
.block{
	display:block;
}
.relative{
	position:relative;
}
.ad_wrapper{
	margin: 0 -10px 5px;
	text-align: center;
}
.pt5{
	padding-top: 5px;
}
.pd10{
    padding: 10px;
}
.mt0{
	margin-top: 0;
}
.mt3{
	margin-top:3px !important;
}
.mt-3{
	margin-top:-3px !important;
}
.mt-5{
	margin-top:-5px !important;
}
.mt-10{
	margin-top:-10px !important;
}
.mt-15{
	margin-top:-16px !important;
}
.mt-20{
	margin-top:-20px !important;
}
.mt-25{
	margin-top:-25px !important;
}
.mt-30{
	margin-top:-30px !important;
}
.mt5{
	margin-top:5px !important;
}
.mt10{
	margin-top:10px !important;
}
.mt15{
	margin-top:15px !important;
}
.mt20{
	margin-top:20px !important;
}
.mt25{
	margin-top:25px !important;
}
.mt30{
	margin-top:30px !important;
}
.mt35{
	margin-top:35px !important;
}
.mt40{
	margin-top:40px !important;
}
.height15{
	height:15px;
}
.height30{
	height:30px;
}
.height50{
	height:50px;
}
.width80p{
	width:80%;
}
.bg_coral{
    background: #ffe0f3;
}
.not_auto_br{
	word-break: break-all;
	word-wrap:break-word;
	overflow:hidden;
}
.max-width{
	width:100%;
}
.max-height{
	height:100%;
}
.bold{
	font-weight:bold;
}
.relative{
	position:relative;
}
.pt10{
	padding-top: 10px;
}
.pb5{
	padding-bottom: 5px;
}
.pb10{
	padding-bottom: 10px;
}
.pt15{
	padding-top: 15px;
}
.pb15{
	padding-bottom: 15px;
}
.mb0{
	margin-bottom:0px !important;
}
.mb-5{
	margin-bottom:-5px !important;
}
.mb5{
	margin-bottom:5px !important;
}
.mb10{
	margin-bottom:10px !important;
}
.mb15{
	margin-bottom:15px !important;
}
.mb20{
	margin-bottom:20px !important;
}
.mb25{
	margin-bottom:25px !important;
}
.mb30{
	margin-bottom:30px !important;
}
.mb40{
	margin-bottom:40px !important;
}
.mb50{
	margin-bottom:50px !important;
}
.mb-10{
	margin-bottom:-10px !important;
}
.mb-20{
	margin-bottom:-20px !important;
}
.mt-5{
	margin-top: -7px;
}
.mt-15{
	margin-top: -17px;
}
.mt15{
	margin-top:15px;
}
.ml5{
	margin-left:5px;
}
.ml10{
	margin-left:10px;
}
.ml20{
	margin-left:20px;
}
.ml-10{
	margin-left:-10px !important;
}
.ml25{
	margin-left:25px;
}
.ml30{
	margin-left:30px;
}
.ml-20{
	margin-left:-20px !important;
}
.mr-10{
	margin-right:-10px !important;
}
.mr3{
	margin-right:3px;
}
.mr10{
	margin-right: 10px !important;
}
.mr15{
	margin-right:17px;
}
.mr20{
	margin-right: 20px !important;
}
.no-display{
	display:none !important;
}
.gray999{
	color: #999;
}
.gray666{
	color: #666 !important;
}
.gray333{
	color: #333;
}
.mr5{
	margin-right:5px;
}
a,
a:hover{
	text-decoration:none;
}
a:hover{
	color:#666;
}
ul{
	margin:0;
	padding:0;
}
p.footer_copyright{
	background:#333;
	color:#ccc;
	padding:3px 0;
	text-align:center;
	font-size:60%;
	font-weight:normal;
	margin:0;
	border-right:1px solid #fff;
}
p.footer_copyright a{
	color: #fff;
}
.official_mk{
    background: #dc8791;
    padding: 5px;
    font-size: 90%;
    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
/* header */
.header_left{
	margin:5px 10px ;
	padding:0;
}
.header_key{
	padding:0px 10px;
/*	width:200px;
*/	font-size:100%;
}
.article_more {
        display: none;
}
.maxwidth,
#maxwidth{
	width: 100%;
}
.content-wrapper {
	padding: 10px;
}
/* default */
.mobile_header{
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	opacity:0.90;
	height:42px;
	padding:0px;
	top:0px;
	width:100%;
	position:fixed;
	z-index:9999;
	border-bottom:0.5px solid #dbd;
}
/* mobile_footmenu */
div#mobile_footmenu{
	height:45px;
	padding:0px;
	background:#fff;
	border-bottom:1px
	solid #eee;
	bottom:0px;
	width:100%;
	position:fixed;
	z-index:9999;
}
.left{
	float:left;
}
.right{
	float:right;
}
#overflow{
	overflow:hidden;
}
#headermenu{
	margin:9px 15px 0 0;
	text-align:right;
}
#headermenu a{
	color:#fff;
	font-size:80%;
}
.gray{
	color:#999;
	font-size:80%;
}
/* mb_header */
.mobile_header_left{
	float:left;
	width:10%;
	text-align:left;
	position:relative;
}
.mobile_header_left_img{
        vertical-align: middle;
	margin: 9px;
	font-size:160%;
        color: #eeaacc;
}
.mobile_header_right{
	float:left;
	width:10%;
	text-align:left;
	position:relative;
}
.mobile_header_right_img{
        vertical-align: middle;
	margin: 9px;
	font-size:160%;
        color: #eeaacc;
}
.mobile_header_left_img_infonum{
	position:absolute;
	top:5px;
	left:20px;
}
.mobile_header_center{
	width:80%;
	text-align:center;
}
.mobile_header_center img {
	height: 36px;
        margin: 3px;
}
.header_bottom_border{
	margin:-28px 0 0 0;
	height: 10px;
	border: 0;
	box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
}
.search_box_hotword{
	margin:-10px 10px 10px;
}
#header_search_submit{
	margin:6px 0 0;
	font-size:90%;
}
#header_search_box_close{
	margin:-10px 10px 0 0;
	color:#999;
}
/* mb_menu */
.mb_menu_header{
	border:none;
	background:#999;
	text-shadow:none;
}
/* mb_boxview */
.mb_box_top_border{
	margin:-11px -10px 10px;
	height:1px;
	background-color: #ccc;
	border:none;
}
.boxview_wraper{
	margin:-10px 0 0;
}
.top_border{
	border-top:1px solid #ccc;
}
.bottom_border{
	border-top:1px solid #ccc;
	margin-right: -10px;
	margin-left: -10px;
}
.boxview_box{
	overflow:hidden;
}
.boxview_left{
	float:left;
	width:78px;
}
.boxview_leftimg{
	margin:5px -5px 5px 5px;
}
.boxview_right{
	float:right;
	width:100%;
	margin-left:-78px;
	padding-top:9px;
	padding-bottom:7px;
}
.txt_white{
	color: #fff !important;
}
#boxview_righttext{
	padding:2px 0px 0 0px;
}
.boxview_category{
	text-shadow:none;
	padding:2px 5px;
	background: #dc8791;
	color:#fff;
	border:0;
}
.boxview_title{
	margin:0 5px 3px 0;
	color:#000;
	font-size:13px;
}
.boxview_title_mbranking{
	color:#666;
	font-size:13px;
}
.boxview_writeuser{
	margin-right:10px;
	margin-top:2px;
	font-size:12px;
}

.boxview_writeuser > .boxview_info {
	text-align: right;
}

.boxview_writeuser > .boxview_info > li {
	padding: 0;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
}

.boxview_writeuser > .boxview_info > li > small,
.boxview_writeuser > .boxview_info > li > span,
.boxview_writeuser > .boxview_info > li > i {
	line-height: 20px;
}

.boxview_writeuser .writer {
	display: inline-block;
	max-width: 120px;
}
.boxview_out{
	clear:both;
	margin:10px;
}
.boxview_nextbtn{
	display: block;
	border: 1px solid #ccc;
	border-radius:5px;
	background: #fff;
	font-size:100%;
	color:#666;
	width: 100%;
	height: 50px;
	text-align: center;
	padding:15px;
	margin-bottom: 20px;
}
.boxview_nextbtn a{
	color:#666;
}
.articles_heading{
	margin-left:-10px;
	margin-right:-10px;
	background:#fff;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	text-align:center;
	padding:5px;
	font-size:90%;
}
.articles_ranking_heading{
	margin-left:-10px;
	margin-right:-10px;
	background:#fff;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	text-align:center;
	padding:5px;
	font-size:90%;
}
.points_text{
	color:#333;
	font-size:11px;
}
/* article boc view */
.box_article_head_photo{
	position:relative;
}
.box_article_head_img{
	width:100%;
	height:215px;
}
.box_article_head_text{
	bottom:0;
	padding:5px;
	width:100%;
	position:absolute;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background: -webkit-gradient(linear, center bottom, center top, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
	background: linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
}
.box_carousel_title{
	font-weight:bold;
	margin:5px 10px;
	color: #fff;
	line-height:150%;
	font-size:140%;
	text-shadow: .5px .5px 2px #999, -.5px -.5px 2px #999, .5px -.5px 2px #999, -.5px .5px 2px #999;
}
.box_article_head_text{
	bottom:0;
	padding:5px;
	width:100%;
	position:absolute;
}
.box_carousel_ja_user{
	color: #fff;
	text-shadow: 1px 1px 2px #999, -1px -1px 2px #999, 1px -1px 2px #999, -1px 1px 2px #999;
}
/* article head */
.article_head_photo{
	position:relative;
}
.article_head_sns{
	padding:0;
	width:100%;
}
.article_head_text{
	bottom:0;
	padding:5px;
	width:100%;
	position:absolute;
	background:rgba(255, 255, 255, 0.7);
}
.article_head_img{
	width:100%;
	height:260px;
}
.article_head_usericon{
	width:40px;
}
/* mb_ranking */
.articles_footer{
	background:#fff;
	border-bottom:1px solid #ccc;
	text-align:center;
	padding:10px;
	margin:0 -10px 10px;
}
/* mb_ranking */
.read_more_link{
	color:#333;
	display:block;
	text-decoration:none;
	font-weight:normal;
}
/* listview */
.listview_area{
	margin-top:30px;
}
.listview_title{
	margin-top:-20px;
	margin-bottom:5px;
	border-bottom:1px solid #ccc;
}
.listview_box{
	margin:-16px -10px 0;
}
.listview_left{
	float:left;
	width:90px;
}
.listview_leftimg{
	width:80px;
	height:80px;
}
.listview_right{
/*	float:left;
	width:75%;*/
	float:right;
	width:100%;
	margin-left:-90px;
}
.listview_txt{
	padding:9px 10px 2px;
}
.listview_out{
	clear:both;
	margin:10px;
}
/* mb_category */
.category_list_title{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:7px 10px;
	background:#999;
	color:#fff;
}
.category_list{
	border-bottom:1px solid #ccc;
	padding:10px;
	font-weight:bold;
}
.category_ul{
	margin-top:0px;
}
.category_li{
	font-weight:bold;
	font-size:90%;
	border-right:1px solid #ccc;
	padding:10px;
	float:left;
	width:50%;
	border-bottom:1px solid #ccc;
}
#category_li{
	font-weight:bold;
	font-size:90%;
	border-right:1px solid #ccc;
	padding:10px;
	float:left;
	width:50%;
	border-bottom:1px solid #ccc;
}
.touch_hover_clear{
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	opacity:0.85;
}
/* mb_footer */
.footer{
	margin-top: 10px;
	padding: 10px 5px;
}
.footer_nav_category,
.footer_nav_link{
	overflow: hidden;
}
.footer_nav_category li,
.footer_nav_link li{
	width:50%;
	float:left;
	padding: 10px 20px;
}
.footer_nav_link li{
	padding: 5px 20px;
}
.footer_nav_category li a,
.footer_nav_link li a{
	display: block;
	color: #999;
	font-size: 13px;
}
.footer_nav_category img{
	height: 11px;
}
.footer_bar{
	border: .5px solid #666;
	margin: 15px;
	padding: 0;
}
.footer_desc{
	text-align: center;
	color: #999;
	font-size: 10px;
	margin: 10px 0;
	line-height: 160%;
}
.footer_desc a{
	color: #999;
}

.footnav_li{
	font-size:90%;
	text-align:center;
	padding:7px;
	float:left;
	width:50%;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	background: #333;
	color: #fff;
}
.footnav_li a{
	color: #fff;
}
.mb_footer{
	margin-top:10px;
}
/* article-> title */
#edit_modal_content,
.like-wrapper{
	width:50px;
	height:30px;
	position:relative;
	z-index:1;
}
.under_like_box{
	position: relative;
	z-index:2;
}
.form_oneline{
	height:30px !important;
	padding:3px;
}
.close{
	font-weight:normal;
	background:none;
	border:0px;
	box-shadow:none;
}
.article_like_box{
	border-left:2px solid #dc8791;
	border-right:2px solid #dc8791;
	padding:5px;
}
/* mb_reccomand */
.recommand_title{
	margin-bottom:-5px;
}
.recommand_area{
	margin-bottom:-21px;
}
/* Articles > index.ctp */
#ModalSearch{
	margin:50px auto 0;
}
#modal_search_content{
	padding:10px 10px 15px;
	width:100%;
}
/* carousel */
.carousel{
	margin:-17px -10px 0;
}
#carousel_inner_wrapper{
	position:relative;
	height:160px;
}
.carousel_img{
	width:100%;
	margin:0 auto;
}
#carousel_item{
	padding:0;
	width:100%;
}
.carousel_title{
	margin:5px 20px 0;
	font-size:90%;
	text-align:center;
	color: #dc8791;
	font-weight:bold;
	line-height:120%;
}
h1.mobile_article_text{
	font-size:120%;
}
div.mobile_article_index_box{
	float:left;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	background:#fff;
}
.mobile_article_index_box2{
	float:left;
	border-bottom:1px solid #eee;
	background:#fff;
}
.border_top{
	border-top:1px solid #eee;
}
div#mobile_article_index_box2{
	float:left;
	border-bottom:1px solid #ccc;
	background:#fff;
}
div.mobile_article_index_text{
	background:#fff;
	padding:10px 5px;
	margin-left:95px;
}
.mobile_article_listview_text{
	background:#fff;
	padding:5px 0px;
	font-size:13px;
	color:#666;

	margin-left:90px;
}
ul,li{
	list-style:none;
}
#form_submit{
	width:100%;
	margin:10px 0;
}
/* article->view */
.article_bar{
	/*margin-top:-5px;*/
	margin: -5px -10px 0px;
	height:2px;
	background: #999;
}
.article_view_area{
	/*border-right:1px solid #ccc;*/
	/*border-left:1px solid #ccc;*/
	padding:0 10px;
	margin: 0 -10px 15px;
}
.article_written_user{
	padding:0 0 0 10px;
}
.article_written_box{
	border:1px solid #ddd;
	padding:5px;
	background:#fff;
}
#modal_sns_close{
	text-align:center;
	margin:15px 0 0;
	border:none;
}
.article_row h3{
	font-weight:bold;
        margin: 0;
        padding: 50px 0 0;
	text-align: center;
	color:#333;
	line-height:130%;
	font-size:17px;
}
.article_row h4{
	font-weight:bold;
        margin: -20px 0 0;
        padding: 50px 0 0;
	text-align: center;
	color:#333;
	line-height:110%;
	font-size:15px;
}
.article_row h5{
	font-weight:bold;
        margin: -25px 0 0;
        padding: 50px 0 0;
	text-align: center;
	color:#333;
	line-height:100%;
	font-size:13px;
}
.article_row h6{
	font-weight:bold;
        margin: -30px 0 0;
        padding: 50px 0 0;
	text-align: center;
	color:#333;
	line-height:100%;
	font-size:11px;
}
.article_row{
	line-height:180%;
	font-size:15px;
	padding:0 3px;
	color:#333;
	word-break: break-all;
	word-wrap:break-word;
	overflow:hidden;
}
.article_row_ex{
	font-size:13px;
	color:#666;
	line-height:180%;
}
.article_more_read_view_desc1{
	font-size:12px;
	line-height:140%;
}
/* article->edit */
/* サムネイル設定 */
#thumbnail{
	margin:20px 0;
}
.thumbnail_title{
	font-size:18px;
	font-weight:bold;
	color:#666;
}
.thumbnail_select{
	overflow:hidden;
}
.thumbnail_select input{
	display: none;
}
.thumbnail_select label{
	display: block;
	float: left;
	cursor: pointer;
	width: 57px;
	margin: 0;
	padding: 12px 5px;
	border-right: 1px solid #abb2b7;
	background: #bdc3c7;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}
.thumbnail_select label:first-of-type{
	border-radius: 3px 0 0 3px;
}
.thumbnail_select label:last-of-type{
	border-right: 0px;
	border-radius: 0 3px 3px 0;
}
.thumbnail_select input[type="radio"]:checked + label {
	background-color: #a1b91d;
	color: #fff;
}
/* user->edit */
.profile_edit_form{
	margin:10px 0 -5px;
	font-size:80%;
	line-height:150%;
}
/* user->profile */
.user_profile{
	padding:0 0 10px;
}
/* about */
.article_about_hr{
	margin: 10px -10px;
}
/* policy */
.page_title{
	font-size:24px;
	margin:0;
	color:#666;
}
#policy_border{
	border:1px solid #ccc;
	padding:20px;
	margin:0 5px 15px;
}
.policy_text{
	margin:20px 0;
	font-size:90%;
	color:#666;
}
/* checkbox */
div.check-group input {
	display: none;
}
div.check-group label {
	font-size:90%;
	text-shadow:none;
	font-weight:bold;
	text-align:center;
	cursor: pointer;
	padding:8px 10px;
	border: solid 1px #4cae4c;
	margin: 10px 0px 10px -20px;
	background: #5cb85c;
	width: 107%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff;
}
div.check-group input:checked+label {
	color: #333;
	background: #eee;
	border: solid 1px #999;
}
/* main 1-4 */
.close{
	font-weight:normal; background:none; border:0px; box-shadow:none;
}
/* article -> about */
#about_wrapper{
	margin:-5px 0 10px;
}
.search_wrapper{
	margin:-10px 0 10px;
}
.viewport {
  position:fixed;
  z-index:9999;
  background:#666;
  width: 100%;
  overflow: hidden;
  margin: 40px auto 0;
  padding: 0px 0;
  -webkit-transform: translateZ(0);
}
.sample p {
  text-align: center;
}
.sample pre {
  display: none;
}
/** iPanelMenu **/
.left_menu_ul li{
	padding: 0;
	line-height: 90%;
	text-align: left;
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 29px 29px;
	display: block;

   filter:alpha(opacity=70);
   -moz-opacity: 0.7;
   opacity: 0.7;
}
.left_menu_ul li > a {
	display: block;
	padding: 10px 20px 5px 50px;
}
.left_menu_ul li.top{
	background-image: url('/img/common/icon-curtain.png');
}
.left_menu_ul li.food{
	background-image: url('/img/common/icon-meal.png');
}
.left_menu_ul li.excercise{
	background-image: url('/img/common/icon-fitnes.png');
}
.left_menu_ul li.health{
	background-image: url('/img/common/icon-pill.png');
}
.left_menu_ul li.fashion{
	background-image: url('/img/common/icon-jacket.png');
}
.left_menu_ul li.feature{
	background-image: url('/img/common/icon-present.png');
}
.left_menu_ul li.ranking{
	background-image: url('/img/common/icon-top.png');
}
.left_menu_ul li.option{
	padding:7px 20px 5px;
	border-bottom:0;
}
.left_menu_ul li .menu-text{
	color: #666;
	font-size: 0.6em;
}
/* category */
.mb_category_icon{
	margin-right:3px;
}
/** slidemenu ****************************************************************/
#container {
	z-index: 1;
	margin-top:0px;
}
#container.show {
	-webkit-transform: translate3d(240px, 0px, 1px);
	min-width: 320px;
}
#slidemenu.show {
    height: 100%;
    visibility: visible;
    z-index: 1;
    -webkit-transition: z-index 0s linear .2s;
	position:fixed;
 }
#slidemenu_contents {
	display: none;
	height: 100%;
	position: relative;
	width: 240px;
	margin-top:43px;
}
#slidemenu {
	background-color: #333;
	left: 0;
	top: 0;
	position: fixed;
	visibility: hidden;
	z-index: -1;
	-webkit-transition: visibility 0s linear .2s;
 }
/** sidr ****************************************************************/
.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:200px;overflow-x:none;overflow-y:auto;font-size:15px;background:#f8f8f8;color:#333;-webkit-box-shadow:inset 0 0 5px 5px #ebebeb;-moz-box-shadow:inset 0 0 5px 5px #ebebeb;box-shadow:inset 0 0 5px 5px #ebebeb}.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}.sidr.right{left:auto;right:-260px}.sidr.left{left:-260px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#333;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));background-image:-webkit-linear-gradient(#ffffff,#dfdfdf);background-image:-moz-linear-gradient(#ffffff,#dfdfdf);background-image:-o-linear-gradient(#ffffff,#dfdfdf);background-image:linear-gradient(#ffffff,#dfdfdf);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(51,51,51,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #dfdfdf;border-bottom:1px solid #fff}.sidr ul li{display:block;margin:0;line-height:40px;border-top:1px solid #fff;border-bottom:1px solid #dfdfdf}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:40px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#333}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:40px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #ebebeb;-moz-box-shadow:inset 0 0 15px 3px #ebebeb;box-shadow:inset 0 0 15px 3px #ebebeb}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(51,51,51,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(51,51,51,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#f8f8f8;background:#333}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(51,51,51,0.9)}


.article_view_title_index_text{
	padding:0 0 0 5px;
	margin-left:68px;
}
.mobile_article_view_title,
.mobile_article_view_title a{
	font-size: 19px;
	font-weight:bold;
	line-height: 160%;
	color: #333;
}

/* header share */
#mobile_side_down_menu {
	position: fixed;
	display: none;
}
#mobile_side_down_menu.is_browser{
	top: 42px;
	width: 260px;
}
#mobile_side_down_menu.is_ios {
	top: 0;
}
#mobile_side_down_menu{
	background-color: #fff;
	filter:alpha(opacity=95);
	-moz-opacity:0.95;
	opacity:0.95;
	text-align: center;
	width: 100%;
	z-index: 9999;
}
#mobile_side_down_menu .close {
	margin-top: -2px;
}

/* loading */
#loading {
    border:1px solid #ddd;
    padding: 15px;
    position: fixed;
    margin-top: -100px;
    margin-left: -50px;
    top: 50%;
    left: 50%;
    background-color: #FFF;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    opacity: 0.85;
}
#loading .loadingMessage {
    text-align:center;
    padding-top:100px;
    width:100px;
    background-image:url("/img/common/loading_light.gif");
    background-position: center top;
    background-repeat: no-repeat;
}
/* item related article */
.item-related-article {
    display: block;
    border: 1px solid #bbb;
    padding: 15px;
    margin: 10px 0;
}
.item-related-article .item-thumbnail {
    float: left;
    margin-right: 20px;
    width: 73px;
    height: 73px;
}
.item-content {
    overflow: hidden;
}
.item-related-article .item-title {
    line-height: 1.4;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
.item-related-article .item-description {
    line-height: 1.4;
    color: #999;
    font-size: 10px;
    margin-bottom: 0;
}
/* side_ranking */
.ranking_title{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
.ranking_wrapper{
    position: relative;
    cursor:pointer;
}
.ranking_img_area{
    width: 100%;
    height: 70px;
    margin: 0 0 10px;
    overflow: hidden;
}
.ranking_img_area img{
    position: relative;
    top: 100%;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ranking_text{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    background:rgba(0, 0, 0, 0.3);
}
.ranking_text_left {
    float: left;
    width: 80px;
    height: 100%;
    color: #fff;
    font-size: 4.0em;
    line-height: 100%;
    display:table;
}
.ranking_text_left_title{
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    padding: 5px;
}
.ranking_text_right{
    float: left;
    width: calc(100% - 80px);
    height: 100%;
    color: #fff;
    line-height: 160%;
    display:table;
}
.ranking_text_right_title{
    display:table-cell;
    vertical-align: middle;
    padding: 0 10px 0 0;
}

.side_ranking_left{
    float:left;
    width:30%;
}
.side_ranking_left_image{
    width:60px;
    height:60px;
}
.side_ranking_right{
    float:left; width:65%;
}
/* Article Pagination */
.article_pagination_area{
    text-align: center;
}
.article_pagination_area ul>li{
}
.article_pagination_area .pagination .disabled,
.article_pagination_area .pagination .disabled a,
.article_pagination_area .pagination  a {
    padding: 10px 15px !important;
    color:#dc8791 !important;
    font-size: 110%;
}
.article_pagination_area .pagination .active a {
    color:#fff !important;
    background:#dc8791 !important;
    border:1px solid #dc8791 !important;
    border:1px solid #dc8791 !important;
}
.article_pagination_area .pagination .not-active a {
    color:#ccc !important;
}
.article_pagination_guid{
    font-size: 90%;
    margin-top: -10px;
    color: #999;
}

.article_pagination_area .pagination .btn-disabled {
    cursor: default;
    text-decoration: none;
    color: #ccc !important;
}
.article_pagination_area .pagination .btn-disabled:focus {
    background-color: #fff;
}
.article_pagination_area .pagination .btn-current {
    color:#fff !important;
    background:#dc8791 !important;
    border: 1px solid #dc8791 !important;
}

/* Pagetitle */
.formtitle_text{
    font-size: 20px;
    line-height: 1.4em;
    margin: 0 0 10px;
}

.text-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-line-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* overlay */
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 2px 0 5px 3px rgba(0,0,0,.1);
    box-shadow: 2px 0 5px 3px rgba(0,0,0,.1);
}

.sp-head {
        width: 100%;
        height: 100px;
        object-fit: cover;
}


