/* header */
h1#article-title{
    margin: 45px 0 15px;
    font-size: 1.8em;
    line-height: 1.4;
}
.article_row_head{
    overflow: hidden;
    margin: 20px 0;
}
/* text */
.article_views{
    color: #999;
    font-size: 1.1em;
}
.article_view{
    background: #fff;
    margin: 0 10px 10px 5px;
    padding: 0 0 10px;
}
#article-introduction, #article-summary{
    margin:20px 30px;
    font-size:90%;
    color:#666;
}
#article-body h3{
    font-size:16px;
    font-weight:bold;
    margin: -70px 0 0;
    padding: 140px 10px 10px; 
    border-bottom:2px solid #dc8791;
}
#article-body h4, #article-body h5, #article-body h6{
    margin: -100px 0 0;
    padding: 130px 0 0;
}
#article-body {
    margin: 0 0 50px;
}
.article_written_box{
    color: #888;
    line-height: 100%;
    border:1px solid #ddd;
    margin:20px;
    padding:5px;
}
.article_written_box_left{
    width: 80px;
    float: left;
}
.article_written_box_left img{
    width: 100%;
}
.article_written_box_right{
    width: calc(100% - 100px);
    float: right;
    margin: 0 10px 0;
}
.article_written_username{
    color: #dc8791;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
}
/* related */
.item-content {
    overflow: hidden;
}
.item-related-article {
    overflow: hidden;
    display: block;
    border: 1px solid #bbb;
    padding: 7px;
    margin: 15px 0;
}
.item-related-article .item-thumbnail img{
    float: left;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}
.item-related-article .item-title {
    line-height: 1.4em;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.item-related-article .item-description {
    line-height: 1.3em;
    color: #555;
    font-size: 11px;
    margin-bottom: 0;
}
.item-thumbnail img {
    width: 60%;
}
/* special */
#toc:before {
  content: "目次";
  color: #999;
  padding-left: 8px;
}
#toc {
  border: 1px solid #999;
/*  display: table; */
  margin-bottom: 10px;
  padding: 15px;
  width: auto;
}
#toc ol,
#toc ol li {
  margin: 0 7px 0;
  padding: 0;
}
#toc a {
  color: #999;
}
#toc a:hover {
  color: #f99;
}

._pi {
  background-color: #f7bae9;
}
.-bl {
  color: #3366ff;
}
#article-introduction img, #article-body img, #article-summary img{
  width: calc(100% - 10px);
  max-height: 500px;
  margin: 20px 5px;
  object-fit: contain;
}
#article-introduction table, #article-body table, #article-summary table{
  font-size: 0.8em;
  border: solid 1px #333;
  border-collapse: collapse;
}
#article-introduction table th, #article-body table th, #article-summary table th,
#article-introduction table td, #article-body table td, #article-summary table td{
  padding: 5px;
  border: solid 1px #333;
}
#article-introduction a, #article-body a, #article-summary a,
#article-introduction a:hover, #article-body a:hover, #article-summary a:hover{
  text-decoration: underline;
}
video {
  width:100%;
}
.external-link {
  font-size: 0.8em;
  text-decoration: none;
  margin: 0 4px;
}
.balloon {
    width: 100%;
    overflow: hidden;
    margin-bottom: -25px;
}
.balloon .faceicon1 {
    float: right;
    margin-left: -70px;
    width: 60px;
}
.baloon-img1{
    border: solid 3px #f7a;
    border-radius: 50%;
}
.balloon .faceicon2 {
    float: left;
    margin-right: -70px;
    width: 60px;
}
.baloon-img2{
    border: solid 3px #7af;
    border-radius: 50%;
}

.balloon .chatting {
    width: 100%;
}
.says1 {
    display: inline-block;
    position: relative; 
    float: right;
    margin: 5px 75px 0 0;
    padding: 17px 13px;
    border-radius: 12px;
    background: #fce;
}
.says1:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    right: -24px;
    border: 12px solid transparent;
    border-left: 12px solid #fce;
}
.says2 {
    display: inline-block;
    position: relative; 
    float: left;
    margin: 5px 0 0 75px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #cef;
}
.says2:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #cef;
}
