@media (min-width: 768px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1060px;
  }
  .navbar_wrapper{
    width: 1060px !important;
  }
}
body{
  background: #fff;
  padding-top: 115px;
  font-family: ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,Arial,Helvetica,sans-serif;
  line-height: 180%;
}
a, a:hover, a:active{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
#close{
  cursor: pointer;
}
.left{
  float: left;
}
.right{
  float: right;
}
.overflow{
  clear: both;
  overflow: hidden;
}
#overflow{
  overflow: hidden;
}
.center{
  text-align: center;
}
.bg_coral{
  color: #c9a;
  background: #ffe0f3;
}
.bg_coral a{
  color: #c9a;
}
.bg_coral a:hover{
  color: #f9a;
}
.max-width{
  width: 100%;
}
.not_auto_br{
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
}
.modal {
  margin: 0 !important;
  padding: 0 !important;
}
.transparent {
  visibility: hidden;
}
/* hover */
.hover-light-on{
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
/* header */
.navbar-header{
  width: 1020px;
  height: 50px;
  overflow: hidden;
}
#header1{
  border-width: 0;
  height: 40px;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#header1 #header-logo{
  width: 100px;
  height: 42px;
  margin: 3px auto;
}
#header1 #header-logo img{
  text-align: center;
  height: 100%;
}
#header2{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 60px;
  height: 45px;
  padding: 8px;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}
#header2 a{
  display: block;
  color: #666;
}
#header2 li{
  float: left;
  text-align: center;
  width: 16%;
  font-size: 0.9em;
}
.navbar_wrapper{
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}
#keyword-search-form{
  margin: 10px;
}
#keyword-search-form .keyword-search-input{
  height: 28px;
  padding: 0 10px;
  width: 240px;
  font-size: 0.8em;
  color: #846;
  background: rgba(255, 240, 249, 0.9);
  border: 1px solid #ebd;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}
#keyword-search-form .keyword-search-submit{
  margin: 0 0 0 5px;
  font-size: 0.8em;
  color: #846;
  background: rgba(255, 240, 249, 0.9);
  border: 1px solid #ebd;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
}
/* footer */
#footer{
  margin: 0;
  padding: 20px 0 10px;
}
.copyright{
  font-size: 0.8em;
}
/* 2 columns */
#main-contents{
  float: left;
  margin: 0;
  width: 75%;
}
#sub-contents{
  float: right;
  margin: 0;
  width: 25%;
}
/* side bar */
.subcontents-area {
  margin: 0 0 10px;
}
.subcontents-title {
  margin: 10px 0;
  width: 100%;
}
/* hot keyword */
.keyword-area{
  border: 1px solid #f69;
  margin: 5px;
  padding: 5px;
}
.keyword-area a{
  color: #666;
  font-size: 0.8em;
}
/* ranking articles */
.ranking-wrapper{
  position: relative;
  cursor: pointer;
}
.ranking-img-area{
  max-width: 100%;
  height: 100px;
  margin: 0 0 15px;
  overflow: hidden;
}
.ranking-img-area img{
  position: relative;
  top: 100%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.ranking-text{
  font-size: 0.9em;
  line-height: 130%;
  max-width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
}
.ranking-text-left{
  float: left;
  width: 15%;
  padding: 40px 5px;
  font-size: 3.5em;
  color: #666;
  vertical-align: middle;
}
.ranking-text-right{
  float: left;
  width: 85%;
  height: 100px;
  color: #333;
  line-height: 150%;
  display: table;
  padding: 0 10px;
  font-size: 14px;
}
.ranking-text-right-title{
  display: table-cell;
  vertical-align: middle;
}
/* myfavolite articles */
.myfavolite-article{
  display: inline-block;
  overflow: hidden;
}
.myfavolite-left{
  float: left;
  width: 60px;
  padding: 4px;
}
.myfavolite-left img{
  width: 100%;
}
.myfavolite-right{
  float: left;
  width: calc(100% - 60px);
  color: #666;
  font-size: 0.9em;
  line-height: 1.4em;
}
/* breadcrumb */
.breadcrumb {
  background: transparent;
  font-size: 0.9em;
  color: #999;
}
.breadcrumb a {
  color: #999;
}
.breadcrumb > li + li:before {
  color: #999;
  content: "\00203a";
  font-size: 1.3em;
}
/* information form */
#information-form{
  border: 1px solid #ccc;
  padding: 20px 40px;
  margin: 10px 5px 40px;
  color: #666;
}
#information-form h1{
  font-size: 2.0em;
  margin: 30px 10px;
}
#information-form h2{
  margin: 50px 5px 25px;
  font-size: 1.3em;
}
/* ^_^ */
#out{
  clear: both;
  margin: 10px;
}
.error{
  color: red;
}
