.mb20 {
  margin-bottom: 20px;
}
.hidden{
  display: none;
}
.bg_cyan{
    color: #6bc;
    background: #e0f3ff;
}
.bg_cyan a{
    color: #6bc;
}
.bg_cyan a:hover{
    color: #6df;
}

.header_logo{
  width: 220px;
}
.navbar_search_form_input{
  height:28px;
  padding:0px 10px;
  color: #468;
  width:240px;
  font-size:80%;
  background:rgba(240, 249, 255, 0.9);
  border:1px solid #bde;
  -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
      border-radius: 1px;
}
.navbar_search_submit{
  margin: 0 0 0 5px;
  font-size: 80%;
  color: #468;
  background: rgba(240, 249, 255, 0.9);
  border: 1px solid #bde;
  -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
      border-radius: 1px;
}
.panel-heading {
  font-size: 1.2em;
}
.panel-footer {
  font-size: 0.8em;
}
.container-fruid {
  width: 100%;
  padding: 0 15px;
}
textarea {
  box-sizing: border-box;
  resize: none;
}
table.article-table td.article-release {
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
}
table.article-table td.article-keyword {
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  color: #777;
  font-size: 0.9em;
  vertical-align: bottom;
}
table.article-table td.article-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}
table.article-table td.article-tool {
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
}
.btn-parel {
  color: #e9c;
  background: #ffe0f3;
  border-color: #e9c;
  font-size: 0.8em;
}
.btn-parel:hover, .btn-parel:focus {
  color: #e7a;
  background: #ffd0f3;
  border-color: #e7a;
}
.url-change {
  color: #e36;
}
.popover {
  width: 400px;
  color: #333;
  font-size: 0.9em;
}
#main-image {
  width: 250px;
}
.toolbar {
  margin: 7px -7px 7px 7px;
  padding: 7px;
  background: #eee;
  border-radius: 5px;
  border: solid 1px #ccc;
}
.toolbar a{
  font-size: 0.8em;
  color: #333;
}
.toolbar .toolbar_text {
  float: right;
  line-height: 10%;
  font-size: 9px;
  color: #aaa;
}
.toolbar .heading {
  border-bottom: solid #dc8791 2px;
  font-weight: bold;
}
.toolbar .colored {
  background: linear-gradient(transparent 60%, #f69 0%);
}
.toolbar .frame {
  background: #fce;
  border-radius: 8px;
  padding: 0 6px;
}
.toolbar .link {
  color: #428bca;
  text-decoration: underline;
}
.toolbar .linkmark {
  color: #428bca;
  font-size: 0.8em;
}
.toolbar .graphic {
  color: #183;
}
.toolbar .video {
  color: #d00;
}
code {
  background: transparent;
  font-size: 1.0em;
}
#modal-internallink .modal-body a {
  text-align: left;
  overflow: hidden;
}
#modal-internallink .modal-body .article {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
#modal-internallink .modal-body input[type="text"] {
  margin: 6px 0;
  padding: 3px 10px;
}
#modal-externallink #modal_external_geturl {
  margin-left: 10px;
  color: #888;
  font-size: 0.8em;
}
.panel, .panel-heading, .panel-body {
  z-index: 1;
}
ul.dropdown-menu {
  z-index: 2000;
}
#toolbar-frame {
  width: 600px;
}
#toolbar-frame li.full {
  display: inline-block;
  float: left;
  width: 33%;
  height: 100%;
  overflow: hidden;
}
#toolbar-frame li.half {
  display: inline-block;
  float: left;
  width: 17%;
  height: 100%;
  overflow: hidden;
}
#dropzone-subimage {
  color: #999;
  width: 598px;
  height: 300px;
  font-size: 20px;
  margin: 30px auto 20px;
  display: table-cell;
  vertical-align: middle;
  border: dashed 3px #999;
  text-align: center;
}
#page-top {
  margin: 0 0 30px;
}
